.inactive,
.active {
  border: none;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1;
  padding: var(--spacing-xs);

  svg {
    width: 28px;
    height: 28px;
    border-radius: 25px;
  }
}

.inactive svg {
  fill: var(--color-border);
}

.active svg {
  fill: var(--color-primary);
}

.inactive:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}