.container {
  max-width: 904px;

  @media (width >= 768px) {
    margin: 48px auto 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 84px 16px;
  padding: 0;
  margin-top: 64px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @media (width >= 1024px) {
    flex-direction: row;
  }
}