.container {
  display: flex;
  flex-basis: 50%;
  gap: var(--spacing-md);
}

.select {
  flex-basis: 50%;
  border: none;
  border-radius: 10px;
  padding: 0 16px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Questrial', sans-serif;
  font-weight: bold;
  color: var(--color-text-muted);

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}