.badges {
  display: flex;
  gap: var(--spacing-sm);
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.badge {
  background-color: var(--badge-color);
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.75rem;
  font-weight: bolder;
  text-transform: uppercase;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--radius-sm);
}